# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Debug files
.vscode/
.idea/

# Build directories
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Coverage reports
coverage/
